<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Notes app</title>
</head>

<body>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Notes App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% if "user_id" in session %}
                <li class="nav-item"><a class="nav-link" href='/users/{{ session["user_id"] }}'>Account</a></li>
                <li class="nav-item"><a class="nav-link btn btn-outline-warning" href="/logout">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

    <main>
        <div class="jumbotron">
            <h1 class="display-3">{%block header%} {% endblock %}:</h1>
            <div class="card col-10">
                {% for msg in get_flashed_messages() %}
                    <div class="alert-danger alert">{{ msg }}</div>
                {% endfor %}
            </div>
            <p class="lead">{% block bigcontent %}
                {% endblock %}</p>
            <hr class="my-4">
            <div class="col">
                {% block smallcontent %}
                {% endblock %}
            </div>
            <p class="lead">
                {% block buttons %}
                {% endblock %}
            </p>
          </div>

    </main>
</body>

</html>
