<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
    <title>Notes app</title>
</head>

<body>
    <main>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
            {% if "user_id" in session %}
                <li class="breadcrumb-item"><a href="/secret">Secret</a></li>
                <li class="breadcrumb-item"><a href="/logout">Logout</a></li>
            {% else %}
                <li class="breadcrumb-item"><a href="/login">Login</a></li>
                <li class="breadcrumb-item"><a href="/register">Register</a></li>
            {% endif %}
          </ol>
        <div class="jumbotron">
            <h1 class="display-3">Notes:</h1>
            <div class="card col-10">
                {% for msg in get_flashed_messages() %}
                    <div class="alert-danger alert">{{ msg }}</div>
                {% endfor %}
            </div>
            <p class="lead">{% block bigcontent %}
                {% endblock %}</p>
            <hr class="my-4">
            <div class="col">
                {% block smallcontent %}
                {% endblock %}
            </div>
            <p class="lead">
                {% block buttons %}
                {% endblock %}
            </p>
          </div>

    </main>
</body>

</html>
