{% extends 'base.html' %}

{% block header %}Welcome {{user.username}}{% endblock %}

{% block bigcontent %}
    <h2> {{user.full_name}} </h2>
    <h5> Email: {{user.email}} </h5>
{% endblock %}

{% block smallcontent %}
    <h3>Notes:</h3>
    <ul class="list-group">
        {% for note in user.notes %}
        <li class="list-group-item d-flex justify-content-start align-items-center">
            <form method="POST" action="/notes/{{note.id}}/delete">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-dumpster-fire"></i></button>
            </form>

            <a class="btn btn-warning mx-1" href="/notes/{{note.id}}/update"><i class="fa fa-edit"></i></a> {{note.title}}
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block buttons %}
    <div class="form-group form-inline">
        <a class="btn btn-success" href="/users/{{user.username}}/notes/add">Add Note</a>
    </div>
    <div class="form-group form-inline">
        <form action="/users/{{user.username}}/delete" method="POST">
            <button class="btn btn-danger" type="submit">Delete User</button>
        </form>
    </div>
{% endblock %}
